<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssb.sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>


    <application  android:usesCleartextTraffic="true">

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ssb.sdk.ui.InAppPActivity"
            android:exported="false" />
        <meta-data android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="false"/>
        <!-- <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> -->
        <!-- <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/> -->
        <activity
            android:name="com.ssb.sdk.ui.SdkPForm"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashBackground" />

        <activity
            android:name="com.ssb.sdk.ui.PrelanderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashBackground2" />

        <activity
            android:name="com.ssb.sdk.ui.LoadActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashBackground"
            android:parentActivityName="com.ssb.sdk.ui.LoadActivity" />

        <activity
            android:name="com.ssb.sdk.ui.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashBackground"
            android:parentActivityName="com.ssb.sdk.ui.LoadActivity" />

        <meta-data android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="false"/>
    </application>

</manifest>